<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" style="background-color:#17145e" data-set bg="~/imagenes/bg.jpg">
            <div class="container">
                <h2>Encuentra a tu doctor!</h2>
                <p>Poseemos un buscador de nuestros profesionales para que puedas encontrar al profesional que mas se adecue a tus necesidades</p>
                <div class="clearfix"></div>
                <a href="" class="site-btn sb-c1">Buscar</a>
            </div>
        </div>
        <div class="hs-item set-bg" style="background-color:forestgreen" data-setbg="~/imagenes/bg.jpg">
            <div class="container">
                <h2>Busca una clinica cerca tuyo</h2>
                <p>Usa una API para poder comprobr que tan lejos queda la cinica mas cercana a ti.</p>
                <div class="clearfix"></div>
                <a href="" class="site-btn sb-c1">Buscar</a>
            </div>
        </div>
    </div>
</section>
   <section class="banner-section set-bg" data-setbg="~/imagenes/banner-bg.jpg">
        <div class="container">
            <div class="banner-card">
                <h2>Probando 123</h2>
                <h6>que onda perro si sirvio</h6>
                <a href="" class="site-btn sb-c3">Start</a>
            </div>
        </div>
    </section>